html {
    box-sizing: border-box;
    font-family: Lato;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* center items */
/* section {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

#add-task,
#history-task,
#list-task {
    min-height: 60vh;
}

.section-header h1 {
    text-align: center;
    margin-bottom: 100px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.text-center {
    text-align: center;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#notif-success, .success {
    color: #4caf50;
}

.current {
    color: #1e90ff;
}
.text-bold {
    font-weight: bold;
}

.waiting {
    color: #343434;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

div.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.task-row {
    border-radius: 5px;
    max-width: 850px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.text-right {
    text-align: right;
}
ul.filter li {
    margin-left: 10px;
}
ul.filter {
    margin: 0;
    list-style: none;
    display: inline-flex;
    margin-bottom: 40px;
}
.filter-form {
    display: flex;
    justify-content: flex-end;
}
.filter-form input {
    width: 250px;
}